@use 'variables' as *;

$b: '.cart__item';

#{$b} {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
	border-bottom: $defaultBorder;

	@media (max-width: 768px) {
		justify-content: space-between;
	}

	&-image {
		width: 96px;
		aspect-ratio: 1/1;

		@media (max-width: 768px) {
			display: none;
		}
	}

	&-info {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	&-title {
		width: 165px;
		font-size: 16px;
		font-style: normal;
		font-weight: 300;
		line-height: 112%;
		letter-spacing: 0.32px;

		@media (max-width: 768px) {
			width: 100px;
			margin-right: 0;
			flex-shrink: 1;
		}
	}

	&-decrease {
		width: 40px;
		height: 24px;
		border-radius: 4px;
		background: $primaryLight;
	}

	&-increase {
		width: 40px;
		height: 24px;
		border-radius: 4px;
		background: $primaryLight;
	}

	&-quantity {
		width: 20px;

		&-controls {
			display: flex;
			gap: 10px;

			@media (max-width: 768px) {
				gap: 20px;
			}
		}
	}

	&-price {
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
	}

	&-remove {
		background: none;
		font-size: 20px;
		opacity: 0.4;
	}
}
