@use 'variables' as *;

$b: '.products';

#{$b} {
	display: flex;

	&__magazine {
		width: 100%;

		&-mobile {
			display: none;
			font-size: 12px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			letter-spacing: 0.72px;
			text-transform: uppercase;
			align-self: center;

			@media (max-width: 768px) {
				display: block;
			}
		}

		&-header {
			display: flex;
			flex-shrink: 0;
			justify-content: space-between;
			margin-bottom: 44px;
			align-items: center;

			&-counter {
				@media (max-width: 768px) {
					display: none;
				}
			}
		}

		&-gallery {
			flex-wrap: wrap;
			width: 100%;
			display: flex;
			row-gap: 39px;
			column-gap: 24px;

			@media (max-width: 768px) {
				row-gap: 50px;
				column-gap: 15px;
			}
		}
	}

	&__filter {
		width: 367px;
		flex-shrink: 0;

		@media (max-width: 768px) {
			display: block;
			position: fixed;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 15;
			background-color: white;
			border-radius: 20px 20px 0 0;
			padding: 24px 20px;
			max-height: 70vh;
			overflow-y: auto;
			transform: translateY(100%);
			transition: transform 0.3s ease;

			&.active {
				transform: translateY(0);
				width: 335px;
			}
		}

		&-switch {
			position: relative;
			display: inline-block;
			width: 36px;
			height: 22px;
			margin-right: 12px;

			& input {
				opacity: 0;
				width: 0;
				height: 0;

				&:checked + #{$b}__filter-slider {
					background-color: $secondary;

					&:before {
						transform: translateX(19px);
					}
				}
			}
		}

		&-slider {
			position: absolute;
			cursor: pointer;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: $primaryLight;
			transition: 0.4s;
			border-radius: 20px;

			&:before {
				position: absolute;
				content: '';
				height: 10px;
				width: 10px;
				left: 2px;
				bottom: 5px;
				background-color: black;
				transition: 0.4s;
				border-radius: 50%;
			}
		}

		&-list {
			padding-left: 64px;
			display: flex;
			flex-direction: column;
			list-style: none;
			gap: 20px;
			font-size: 12px;
			font-style: normal;
			font-weight: 400;
			line-height: 100%;
			letter-spacing: 0.72px;
			text-transform: uppercase;

			@media (max-width: 768px) {
				padding-left: 24px;
				margin-top: 38px;
				gap: 10px;
			}

			&-item {
				display: flex;
				align-items: center;
				margin-bottom: 8px;
				list-style: none;
			}
		}
	}
}
